<%- autoCanonical(config, page) %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
var searchFunc = function(path, search_id, content_id) {
    'use strict';
    $.ajax({
        url: path,
        dataType: "xml",
        success: function( xmlResponse ) {
            // get the contents from search data
            var datas = $( "entry", xmlResponse ).map(function() {
                return {
                    title: $( "title", this ).text(),
                    content: $("content",this).text(),
                    url: $( "url" , this).text()
                };
            }).get();

            var $input = document.getElementById(search_id);
			if (!$input) return;
            var $resultContent = document.getElementById(content_id);
            if ($("#local-search-input").length > 0) {
                $input.addEventListener('input', function () {
                    var str = '<ul class=\"search-result-list\">';
                    var keywords = this.value.trim().toLowerCase().split(/[\s\-]+/);
                    $resultContent.innerHTML = "";
                    if (this.value.trim().length <= 0) {
                        return;
                    }
                    // perform local searching
                    datas.forEach(function (data) {
                        var isMatch = true;
                        var content_index = [];
                        if (!data.title || data.title.trim() === '') {
                            data.title = "Untitled";
                        }
                        var data_title = data.title.trim().toLowerCase();
                        var data_content = data.content.trim().replace(/<[^>]+>/g, "").toLowerCase();
                        var data_url = data.url;
                        var index_title = -1;
                        var index_content = -1;
                        var first_occur = -1;
                        // only match artiles with not empty contents
                        if (data_content !== '') {
                            keywords.forEach(function (keyword, i) {
                                index_title = data_title.indexOf(keyword);
                                index_content = data_content.indexOf(keyword);

                                if (index_title < 0 && index_content < 0) {
                                    isMatch = false;
                                } else {
                                    if (index_content < 0) {
                                        index_content = 0;
                                    }
                                    if (i == 0) {
                                        first_occur = index_content;
                                    }
                                    // content_index.push({index_content:index_content, keyword_len:keyword_len});
                                }
                            });
                        } else {
                            isMatch = false;
                        }
                        // show search results
                        if (isMatch) {
                            str += "<li><a href='" + data_url + "' class='search-result-title'>" + data_title + "</a>";
                            var content = data.content.trim().replace(/<[^>]+>/g, "");
                            if (first_occur >= 0) {
                                // cut out 100 characters
                                var start = first_occur - 20;
                                var end = first_occur + 80;

                                if (start < 0) {
                                    start = 0;
                                }

                                if (start == 0) {
                                    end = 100;
                                }

                                if (end > content.length) {
                                    end = content.length;
                                }

                                var match_content = content.substring(start, end);

                                // highlight all keywords
                                keywords.forEach(function (keyword) {
                                    var regS = new RegExp(keyword, "gi");
                                    match_content = match_content.replace(regS, "<em class=\"search-keyword\">" + keyword + "</em>");
                                });

                                str += "<p class=\"search-result\">" + match_content + "...</p>"
                            }
                            str += "</li>";
                        }
                    });
                    str += "</ul>";
                    $resultContent.innerHTML = str;
                });
            }
        }
    });
}


var path = "/search.xml";
searchFunc(path, 'local-search-input', 'local-search-result');

</script>

<div class="ximage">
  <img src="https://github.com/cloudbyteelias/cloudbyteelias.github.io/blob/main/Art/Logo.png?raw=true" class="logoimage" />
  <audio class="radio" controls preload="metadata" loop="true" >
    <source src="https://ice.somafm.com/bagel">
  </audio>
<br>
</div>

<div id="site_search">
  <div class="form-group">
   <input class="input" type="text" id="local-search-input" name="q" results="0" placeholder="<%= __('PROCURAR') %>" class="st-search-input st-default-search-input form-control"/>
  </div> 
  <br> 
 <div class="box" id="local-search-result"></div>
 </div>

<div class="page-card-list">
  <% if (page.posts.length > 0) { %>
    <% page.posts.sort('date',-1).limit(10).each(post => { %>
      <div class="box">
              <article class="media">
                  <div class="media-content">
                      <div class="content">
                          <div class="page-card-title"><a href="<%=url_for(post.path)%>"><%= post.title !== '' ? post.title : 'No title' %></a></div>
                          <% post.tags.forEach(function(tag) { %>
                            <a class="tag is-light" href='<%= config.root %>tags/<%= tag.name.trim().replace(/\s|\./g, '-') %>'><%= tag.name %></a>
                          <% }); %>
                          <a class="tag is-light" href="<%= config.root %>archives/<%= date(post.date).split('-').slice(0,2).join('/') %>"><%=date(post.date)%></a>
                          <% if(theme.disqus && (theme.disqus.trim() !== "")){%>
                            <a class="tag is-light disqus-comment-count" data-disqus-identifier="<%= post._id %>" href="<%=url_for(post.path)+`#comment` %>">0 Comments</a>       
                          <%}%>
                          <div class="page-card-text">
                              <%- post.excerpt != undefined && post.excerpt.trim() !== "" ? post.excerpt : "No description" %>
                          </div>
                      </div>
                  </div>
              </article>
          </div>
  <% }); %> <% } %>
</div>
<%- partial('partials/paginator') %>
